<h1>Dashboard</h1>
<div class="card">
    <div class="card-head">Blockchain Bitcoin</div>
    <div class="card-body">
        A blockchain do Bitcoin é a tecnologia que está por trás do
        funcionamento do sistema de pagamento digital mais conhecido do mundo.
        A blockchain é uma espécie de registro público e descentralizado que
        contém informações sobre todas as transações realizadas na rede do
        Bitcoin.
    </div>
    <h2>{{precoBitcoin.ticker.last}}</h2>
</div>